.checkout {
    margin-top: 5em;
}

.checkout h1 {
    margin-bottom: 1.5em;
    width: 80%;
    margin: auto;
}

.checkoutBox {
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 2em;
    flex-direction: row-reverse;
    margin-top: 3em;
    width: 80%;
}

.checkoutBox form {
    width: 60%;
}

.bagSummary {
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    /* margin-top: 5em; */
    height: 100%;
}

.contactInfo {
    width: 100%;
}

.contactInfo h3 {
    margin: 1em 0;
}

.contactInfo p {
    color: gray;
}

.baginfo {
    display: flex;
    gap: 2em;
    height: 60vh;
    margin-top: 2em;
}

.bagitems {
    min-height: 260px;
    max-height: 290px;
    padding: 2em;
    overflow-y: scroll;
    position: sticky;
}

.empty {
    text-align: center;
    margin-top: 8em !important;
}

.item {
    display: flex;
    position: relative;
    gap: 1em;
    border-bottom: 1px solid rgb(222, 222, 222);
    padding: 2em 0;
}

.item:nth-child(1) {
    padding-top: 0;
}

.title {
    color: black !important;
}

.item img {
    width: 80px;
    height: 80px;
    background-color: black;
}

.quantity {
    display: flex;
    gap: .5em;
}

.quantity select {
    background: none;
    border: none;
    padding: 0 0.5em;
  }

.price {
    display: flex;
    position: absolute;
    right: 0;
}

.price p {
    color: black;
}

.summary {
    width: 100%;
    height: auto;
    border-radius: 10px;
    /* width: 35%; */
    padding: 2em;
}

.summary h2 {
    font-size: 1.5rem;
}

.summary p {
    margin: .5em 0;
    color: black;
}

.summarydetails {
    margin: 2em 0;
}

.subtotal {
    display: flex;
    justify-content: space-between;
}

.total {
    display: flex;
    justify-content: space-between;
    padding: .6em 0;
    margin: 1em 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.deleteLike {
    display: flex;
    gap: 1em;
    margin: 0.5em 0;
}

.deleteLike svg {
    cursor: pointer;
}

.contactInfo input {
    /* border: none; */
    padding: .9em;
    width: 100%;
    border-radius: 5px;
    margin: .7em 0;
    font-size: .85rem;
    border: 2px solid white;
}

.contactInfo input:focus {
    outline: none;
    border: 2px solid blueviolet;
}

.contactInfo select {
    padding: .5em 2em .5em .6em;
    border: none;
    background-color: white;
    border-radius: 5px;
    margin-top: .7em;
}

.name {
    display: flex;
    gap: 1em;
    margin-bottom: .8em;
}

.name div {
    flex-basis: 100%;
}

.street {
    margin-top: .8em;
}

.town {
    display: flex;
    gap: 1em;
    margin-top: .8em;
}


.contactInfo button {
    color: white;
    font-size: 1rem;
    width: 100%;
    padding: 1em 0;
    margin: 2em 0;
    cursor: pointer;
    background-color: black;
    border: none;
    border-radius: 10px;
}

.contactInfo button:hover {
    background-color: gray;
}

@media screen and (max-width: 1000px) {

    .checkout h1 {
        width: 100%;
    }

    .checkoutBox {
        flex-direction: column;
        width: 100%;
    }

    .checkoutBox form {
        width: 100%;
    }

    .baginfo {
        flex-direction: column;
        height: 100%;
        margin-top: 5em;
    }

    .contactInfo {
        width: 100%;
    }

    .bagitems {
        overflow:visible;
        max-height: 100%;
        width: 100%;
    }

    .summary {
        width: 100%;
    }

    .bagSummary {
        width: 100%;
    }
}