.main {
  min-height: 100vh;
}

.header {
  display: flex;
  padding: 1em 0;
  justify-content: space-between;
  font-weight: 600;
}

.nav {
 display: flex;
 align-items: center;
 gap: 3em;
}

.signup {
  display: flex;
  align-items: center;
  gap: 1.5em;
  position: relative;
}

.signup svg {
  cursor: pointer;
}

.signup p {
  position: absolute;
  top: 0;
  left: 15px;
  background-color: #9044ff;
  width: 1em;
  height: 1em;
  padding: .7em;
  border-radius: 50%;
  color: white;
  font-size: .6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  display: flex;
  align-items: center;
  min-height: 15em;
  margin: 2em 0;
}

.description h1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.35em;
  color: var(--fontColorGray);
}

.filterSection {
  display: flex;
  gap: 3em;
  padding-bottom: 1em;
  border-bottom: 2px solid var(--fontColorGray);
  position: relative;
}

.filterSection p {
  color: var(--fontColorGray);
}

.filter {
  display: flex;
  align-items: center;
  gap: .5em;
  cursor: pointer;
}

.sort {
  display: flex;
  align-items: center;
  gap: .5em;
  cursor: pointer;
}

.allProducts {
  margin: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 0 3em;
  justify-content: center;
}

.filterCat {
  border-radius: 10px;
  position: absolute;
  top: 2.5em;
  height: auto;
  width: 320px;
  background-color: #393939;
  /* padding: 1em; */
}

.filterCat p {
  padding: 1.5em;
  border-bottom: 1px solid black;
  cursor: pointer;
  color: white;
}

.filterCat p:last-child {
 border: none;
}

.filterCat p:hover {
  background-color: #e7f6f0;
}

.filterCat p:hover:first-child {
  border-radius: 10px 10px 0 0;
}

.filterCat p:hover:last-child {
  border-radius:  0 0 10px 10px;
}

.itemlength {
  position: absolute;
  right: 0;
}

.footer {
  width: 100vw;
  height: 350px;
  background-color: black;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer h1 {
  color: rgb(24, 24, 24);
  font-size: 7rem;
}