.main {
  min-height: 100vh;
}

.header {
  display: flex;
  padding: 1em 0;
  justify-content: space-between;
  font-weight: 600;
}

.nav {
 display: flex;
 gap: 3em;
}

.description {
  display: flex;
  align-items: center;
  min-height: 15em;
  margin: 2em 0;
}

.description h1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.35em;
  color: var(--fontColorGray);
}

.filterSection {
  display: flex;
  gap: 3em;
  padding-bottom: 1em;
  border-bottom: 2px solid var(--fontColorGray);
}

.filterSection p {
  color: var(--fontColorGray);
}

.filter {
  display: flex;
  align-items: center;
  gap: .5em;
  cursor: pointer;
}

.sort {
  display: flex;
  align-items: center;
  gap: .5em;
  cursor: pointer;
}

.allProducts {
  margin: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 0 3em;
  justify-content: center;
}