.product {
    height: auto;
    width: 14em;
    margin: 2em 0;
}

.productImage a {
    outline: none;
}

.product img {
    border-radius: 10px;
    cursor: pointer;
}

.title h2 {
    font-size: 1rem;
    font-weight: 400;
    height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: .5em;
    cursor: pointer;
}

.title h2:hover {
    text-decoration: underline;
}

.title span {
    font-size: 1rem;
    top: 0;
}

.title p {
    display: flex;
    gap: .2em;
    /* align-items: center; */
}

.price p:nth-child(2) {
    font-size: 1.7rem;
    line-height: 0.9;
}

.price {
    display: flex;
    margin: .3em 0;
}

@media screen and (max-width: 1000px) {
    .product img {
        width: 100%;
    }

    .product {
        width: 11em;
    }
  }